<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Spring Security</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="/css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.2/css/bootstrap.css}"/>
</head>
<body class="fixed-page">
<div class="jumbotron full-screen">
    <h1 class="display-3">Hello, Spring Security!</h1>
    <p class="lead">
        This is a simple Spring Security application based on Spring Boot sample.
    </p>
    <p class="lead">
        It is a basic demo for Spring Security by using Database to authentication, used Thymeleaf as template language.
    </p>
    <p class="lead">
        For more detail to learn, added MyBatis to load role and permission, also finished basic user manage
    </p>
    <hr class="my-4"/>
    <p>You can direct to login page for more detail.</p>
    <p>
        Default administrator account is <code>admin</code> and password is <code>admin</code>,
        general user account is <code>user</code> and <code>password</code>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="./login.html" role="button">Learn more</a>
    </p>
</div>
</body>
</html>