<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="left-sidebar" th:fragment="menu">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" th:if="${session.user} != null">
                <li th:each="menu,menuStat : ${session.user.menus}">
                    <a class="waves-effect waves-dark" href="${menu.url}" th:href="${menu.url}"
                       aria-expanded="false">
                        <span class="hide-menu" th:text="${menu.displayValue}"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
</html>